@import url("https://fonts.googleapis.com/css2?family=Jacquard+24&family=Jersey+20&family=Pixelify+Sans:wght@400..700&display=swap");

:root {
  --navbar-height: 100px;
  --background-color1: white;
  --background-color2: grey;
  --font-color1: black;
}

html * {
  box-sizing: border-box;
}

html {
  scroll-padding-top: var(--navbar-height);
  font-family: sans-serif;
}

body {
  margin: 0;
}

#navbar {
  background-color: var(--background-color1);
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
  padding: 0 30px;
  width: 100vw;
  max-width: 100vw;
  min-height: var(--navbar-height);
  max-height: var(--navbar-height);
  position: fixed;
  top: 0;
  border-bottom: 4px solid black;
  z-index: 1;
}

#navbar li {
  height: 100%;
  list-style-type: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

#navbar li:hover {
  background-color: var(--font-color1);
  color: var(--background-color1);
}

a {
  text-decoration: none;
}

#navbar a {
  color: var(--font-color1);
}

#welcome-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  border-bottom: 4px solid black;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-bg-wrapper {
  width: 100%;
  height: calc(100% - var(--navbar-height));
  position: absolute;
  top: var(--navbar-height);
  /* overflow: hidden; */
  /* animation: bg-expand 3s ease-out; */
}

/* to hide the h1 element */
.gradient-bg-wrapper > h1 {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.gradient-bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #baf4ff, #b9c2ff, #e5b6ff, #ffb6bd);
  background-size: 400% 400%;
  animation: gradient 5s linear infinite;
}

.intro-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.intro {
  overflow: visible;
  animation: circle-shrink 1s ease-in-out 1s;
  animation-fill-mode: forwards;
}

.intro-title {
  font-size: 5px;
}

.hero-title-wrapper {
  position: relative;
  top: var(--navbar-height);
  width: 100%;
  height: calc(100% - var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: safe center;
  padding: 30px;
  gap: 30px;
}

.YOUR,
.WEB,
.DEVELOPER {
  overflow: visible;
}

.YOUR > .letter {
  animation: text-animation 0.3s linear 2s;
  animation-fill-mode: forwards;
}

.WEB > .letter {
  animation: text-animation 0.3s linear 2.2s;
  animation-fill-mode: forwards;
}

.DEVELOPER > .letter {
  animation: text-animation 0.3s linear 2.5s;
  animation-fill-mode: forwards;
}

.svg-border {
  stroke-width: 5px;
  stroke: red;
  fill: none;
}

.letter {
  font-size: 50px;
  fill: white;
  opacity: 0.4;
}

.big {
  font-size: 100px;
  animation: text-animation 2s ease-out 3s;
  animation-fill-mode: forwards;
}

.l1 {
  transform: translate(550px, -100px);
}

.l2 {
  transform: translate(550px, 200px);
}

.l3 {
  transform: translate(200px, 150px);
}

.l4 {
  transform: translate(100px, -120px);
}

.l5 {
  transform: translate(0px, -85px);
}

.l6 {
  transform: translate(0px, 85px);
}

.l7 {
  transform: translate(0px, -85px);
}

.l8 {
  transform: translate(0px, 85px);
}

.l9 {
  transform: translate(0px, -85px);
}

.l10 {
  transform: translate(0px, 85px);
}

.l11 {
  transform: translate(0px, -85px);
}

.l12 {
  transform: translate(0px, 85px);
}

.l13 {
  transform: translate(-550px, -100px);
}

.l14 {
  transform: translate(350px, -140px);
}

.l15 {
  transform: translate(30px, 100px);
}

.l16 {
  transform: translate(300px, -120px);
}

.l17 {
  transform: translate(150px, 135px);
}

.l18 {
  transform: translate(-300px, -80px);
}

.l19 {
  transform: translate(-100px, -120px);
}

.l20 {
  transform: translate(150px, 150px);
}

.l21 {
  transform: translate(-250px, -120px);
}

.l22 {
  transform: translate(-350px, -110px);
}

.l23 {
  transform: translate(-300px, 130px);
}

.l24 {
  transform: translate(0px, -150px);
}

.section-stroke {
  width: 100%;
  height: 4px;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.section-title {
  text-align: center;
  font-size: 40px;
  margin: 100px 0;
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 100px;
  border-bottom: 4px solid black;
}

.project-tile {
  width: 700px;
  height: 660px;
  opacity: 1;
  background-color: white;
  position: relative;
  border: 5px solid black;
}

.project-tile:hover {
  border: none;
}

.project-tile:hover::before,
.project-tile:hover::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: linear-gradient(
    45deg,
    #1edbff,
    #baf4ff,
    #6276ff,
    #b9c2ff,
    #be48ff,
    #e5b6ff,
    #ff4bb7,
    #ffb6bd,
    #e5b6ff,
    #be48ff,
    #b9c2ff,
    #6276ff,
    #baf4ff,
    #1edbff
  );
  background-size: 400%;
  z-index: -1;
  animation: glow 25s linear infinite;
}

.project-tile::after {
  filter: blur(20px);
}

#project-title {
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-family: "Jersey 20", sans-serif;
}

#project-img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  display: block;
  margin: 30px auto 40px;
}

#project-btn {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 50px;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-family: "Jersey 20", sans-serif;
  text-align: center;
  border: 4px solid var(--font-color1);
  background-color: var(--background-color1);
  color: var(--font-color1);
}

#project-btn:hover {
  background-color: var(--font-color1);
  color: var(--background-color1);
}

#contacts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 150px;
  height: 50vh;
  margin-top: -100px;
}

#contacts a {
  color: var(--font-color1);
}

footer {
  height: 100px;
  font-size: 25px;
  text-align: right;
  padding: 20px 20px 0;
  border-top: 4px solid black;
}

.fa-linkedin:hover {
  color: #0077b5;
}

.fa-free-code-camp:hover {
  color: #ffa500;
}

.fa-github:hover {
  color: #c5c5c5;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes bg-expand {
  0% {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  100% {
    border-radius: 0%;
  }
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes text-animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes circle-shrink {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

/*
  media
 */

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
